.picture{
    background-color: #111111;
    display: inline-block;
    margin: 10px;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    transition: all 0.2s ease-in-out;
}

.picture:hover{
    /* transform: scale(1.05); */
    background-color: #222222;
}

img{
  width: 100%;
  height: 300px;
  object-fit: contain; 
  cursor: pointer;
}

.title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
}

span,button {
    display: table;
    margin: 0 auto;
}

button{
    background: none;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 50px;
    transform: scale(1);
}

button.clicked{
    animation: grow-and-shrink 0.5s;
}

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }