.date-container{
    text-align: center;
}
#date-selector{
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#date-selector:focus{
    outline: none;
}
input::-webkit-datetime-edit {
    color: #ffffff;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button.paginate{
    background-color:#333333;
    padding: 15px;
    margin: 35px auto;
}

label{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}